Django==2.2.2

channels_redis==2.4.0
channels==2.2.0
coverage==4.5.3
gunicorn==19.9.0
huey==2.1.0
ipython==7.5.0
Pillow==6.0.0
piprot==0.9.10
prospector==1.1.6.2
psycopg2-binary==2.8.2
pytest-cov==2.7.1
pytest-mock==1.10.4
pytest==4.6.2
raven==6.10.0
requests==2.22.0
tblib==1.4.0
uvicorn==0.7.2

dj-inmemorystorage==1.4.1
django-axes==5.0.6
django-compressor==2.3
django-debug-toolbar==1.11
django-dynamic-fixture==2.0.0
django-extensions==2.1.7
django-redis==4.10.0
django-widget-tweaks==1.4.3
pytest-django==3.5.0
djangorestframework==3.9.4
django-cors-headers==3.0.2
