{% extends 'layout/base.html' %}
{% load widget_tweaks meta %}

{% block meta %}{% meta_tags title='Cambiar Contraseña' %}{% endblock %}

{% block content %}
<section class="passwordChangeForm profile">
    <form action="" method="post">
        {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="formGroup">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
        <div class="formGroup">
            {{ form.old_password.label_tag }}
            {% render_field form.old_password %}
            {{ form.old_password.errors }}
        </div>
        <div class="formGroup">
            {{ form.new_password1.label_tag }}
            {% render_field form.new_password1 %}
            {{ form.new_password1.errors }}
        </div>
        <div class="formGroup">
            {{ form.new_password2.label_tag }}
            {% render_field form.new_password2 %}
            {{ form.new_password2.errors }}
        </div>
        <div class="actions">
            <button type="submit">Cambiar contraseña</button>
        </div>
    </form>
</section>
{% endblock %}
