{% extends 'layout/base.html' %}
{% load widget_tweaks meta %}

{% block meta %}{% meta_tags title='Restablecer contraseña' %}{% endblock %}

{% block content %}
<section class="user passwordResetConfirm">
{% if form %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="formGroup">
            {{ form.new_password1.label_tag }}
            {% render_field form.new_password1 %}
            {{ form.new_password1.errors }}
            <div class="helptext">{{ form.new_password1.help_text|safe }}</div>
        </div>
         <div class="formGroup">
            {{ form.new_password2.label_tag }}
            {% render_field form.new_password2 %}
            {{ form.new_password2.errors }}
        </div>
        <button type="submit">Finalizar</button>
    </form>
{% else %}
    <div class="generalMsg">
        <p>Solicitud expirada</p>
        <p>Si olvidaste tu clave puedes generarla nuevamente.</p>
        <a href="{% url 'registration:password_reset' %}">Generar nuevamente</a>
    </div>
{% endif %}
</section>
{% endblock %}
