{% extends 'layout/base.html' %}
{% load meta %}

{% block meta %}{% meta_tags title='Restablecer contraseña' %}{% endblock %}

{% block content %}
<section class="user passwordResetForm">
    <h1>Restablecer contraseña</h1>
    <p>Para recuperar tu contraseña ingresa el correo electrónico con el que te registraste.</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="formGroup">
            {{ form }}
        </div>
        <div class="actions">
            <button type="submit">Restablecer</button>
        </div>
    </form>
</section>
{% endblock %}
