<!DOCTYPE html>{% load static meta %}
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% block meta %}{% meta_tags %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-title" content="Omnibnk">
        <link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon" href="{% static 'img/favicon.png' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    </head>
    <body{% block body_attrs %}{% endblock %}>

    {% include 'layout/_menu.html' %}

    {% block body %}
        <section>{% block content %}{% endblock %}</section>
    {% endblock body %}
    <script>
        window.WS_SLUG = '';
    </script>
    {% block js_globals %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollama/2.0.0/scrollama.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/localization/messages_es.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block js %}{% endblock %}
    </body>
</html>
