{% extends 'layout/base.html' %}
{% load static humanize meta %}

{% block meta %}{% meta_tags title='MoviePlus' %}{% endblock %}

{% block content %}
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Omnibnk APP</h1>
            <h2 class="subtitle">MoviePlus</h2>
        </div>
    </div>
</section>
<hr>
<section>
    <div class="container">
        {% if user.is_authenticated %}

            {% include 'layout/_tab.html' %}

            <div class="buttons">
                <a href="{% url 'movie:create' %}" class="button is-primary">Crear pelicula</a>
            </div>

            {% for item in object_list %}
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://robohash.org/{{ item.name }}" alt="{{ item.name }}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p><strong>{{ item.name }}</strong> <small>{{ item.created_at }}</small></p>
                            <p><small><strong>Resumen:</strong> {{ item.summary }}</small></p>
                            <p><strong>Descripción:</strong> {{ item.description }}</p>
                            <p><strong>Activo:</strong> {{ item.is_active|yesno:'Si,No' }}</p>
                            <p><strong>Recomendado:</strong> {{ item.is_recommended|yesno:'Si,No' }}</p>

                            <div class="field">
                                <div class="control">
                                    <a href="{% url 'movie:detail' item.pk %}" class="button is-link">Ver detalle</a>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <a href="{% url 'movie:update' item.pk %}" class="button is-warning">Actualizar</a>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <form action="{% url 'movie:delete' item.pk %}" method="post">
                                        {% csrf_token %}
                                        <button class="button is-danger" onclick="return confirm('Estas seguro de eliminarlo?')" type="submit">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            {% empty %}
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            No hay peliculas relacionadas
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <hr>
</section>
{% endblock %}
